{% extends "layout.html" %}

{% block title %}Tekno Feed - Anasayfa{% endblock %} 

{% block body %}
<style>
.led-yellow{margin:0 auto;width:12px;height:12px;background-color:#0cff04;border-radius:50%;box-shadow:rgba(0,0,0,.2) 0 -1px 7px 1px,inset #06cc10 0 -1px 9px,#0cff04 0 2px 12px;-webkit-animation:blinkYellow 1s infinite;-moz-animation:blinkYellow 1s infinite;-ms-animation:blinkYellow 1s infinite;-o-animation:blinkYellow 1s infinite;animation:blinkYellow 1s infinite}@-webkit-keyframes blinkYellow{from{background-color:#0cff04}50%{background-color:#099b28}to{background-color:#0cff04}}@-webkit-keyframes blinkYellow{from{background-color:#0cff04}50%{background-color:#099b28}to{background-color:#0cff04}}@-webkit-keyframes blinkYellow{from{background-color:#0cff04}50%{background-color:#099b28}to{background-color:#0cff04}}@-webkit-keyframes blinkYellow{from{background-color:#0cff04}50%{background-color:#099b28}to{background-color:#0cff04}}@-webkit-keyframes blinkYellow{from{background-color:#0cff04}50%{background-color:#099b28}to{background-color:#0cff04}}
</style>

        <main role="main">

          {% if topics %}
          <div class="div" style="background-color:#F8F9FA; text-align:center;">
            <div class="container">
              <p class="lead text-muted"></p>
              <h5>Hoş geldin {{session["username"]}}! Takip edilen site sayısı: {{topics|length}}</h5>
            </div>
            {% for w in range(topics|length) %}
              <span class="badge badge-success">{{ topics[w].values()|first }}</span>
            {% endfor %}
            
          </div>
                <div class="album py-5 bg-light">
                <div class="container">
                <div class="row">
                  {% for i in range(topics|length) %}
                  <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                  <ul class="list-group">
                    {% for link,title in topics[i].items() %}
                      {% if link=="group_title" %}
                        <li class="list-group-item active">{{title}}<span class="badge badge-primary badge-pill"><div class="led-box"><div class="led-yellow"></div></span></li>
                      {% else %}
                      <a href="{{link}}" target="_blank" style="font-size: 10pt;"><li class="list-group-item">{{title}}</li></a>
                      {% endif %}
                    {% endfor %}
                     </ul>
                  </div>
                </div>
                  {% endfor %}
                  {% else %}
                  
                  <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">Burası bomboş!</h1>
                      <p class="lead">Takip ettiğin site olmadığı için burası bomboş. <a href="/settings">Buraya</a> tıklayarak ayarlardan istediğin site veya siteleri seçebilirsin.</p>
                    </div>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  
                {% endif %}  
              </div>
            </div>
          </div>
        </main>

{% endblock body %}

